<head>
  <%- include('../partials/head'); %>
</head>
<body>

<div>
	<%- include('../partials/About/FirstCompSml'); %>
</div>

<div>
	<%- include('../partials/About/AboutTextBox'); %>
</div>

<div>
	<%- include('../partials/CallUsNow'); %>
</div>

<footer>
  <%- include('../partials/Footer'); %>
</footer>
<!-- End -->
</body>
<script src="./js/script.js"></script>
</html>
