<head>
  <%- include('../partials/head'); %>
</head>

<body>

<div>
	<%- include('../partials/FirstComp'); %>
</div>
	
<div>
	<%- include('../partials/SecondComp'); %>
</div>

<div>
	<%- include('../partials/OurTreatment'); %>
</div>

<div>
	<%- include('../partials/OurProgram'); %>
</div>

<div>
	<%- include('../partials/CallUsNow'); %>
</div>

<div>
	<%- include('../partials/SixthComp'); %>
</div>

<footer>
  <%- include('../partials/Footer'); %>
</footer>
<!-- End -->
</body>
<script src="./js/script.js"></script>
</html>
