<head>
  <%- include('../partials/head'); %>
</head>

<body>
<div>
	<%- include('../partials/Testimonials/FirstCompSml'); %>
</div>

<div>
	<%- include('../partials/Testimonials/TestimonialsComp'); %>
</div>

<div>
	<%- include('../partials/FifthComp'); %>
</div>

<footer>
  <%- include('../partials/Footer'); %>
</footer>
<!-- End -->
</body>
<script src="./js/script.js"></script>
</html>
